* {
	font-family: 'Fira Sans', sans-serif;
	font-weight: 300;
}

html, body {
	padding: 0;
	margin: 0;
}

body {
	background: url("../img/small_steps.png");
	text-align: center;
}

a {
  background-color: white;
  border: red 3px solid;
  padding: 30px 50px;
  margin: 200px 20px;
  display: inline-block;
  border-radius: 10px;
  font-weight: bold;
  font-size: 20px;
  text-decoration : none;
  color: red;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  box-shadow: 0 0 30px #999;
  transform: scale(0.9,0.9);
}

a:hover{
  background-color: red;
  color: white;
  transform: scale(1,1);
}
canvas {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	background-color: #FFF;
}